<p id="notice"><%= notice %></p>

<p>
  <%= "Station id:#{@all_station_metadata.first['station_id'].to_i}" %>
  <%= "Lat #{@all_station_metadata.first['latitude'].to_i }"%>
  <%= "Long #{@all_station_metadata.first['longitude'].to_i}"%>
</p>

<p>
  <%= @all_reporting_stations %>
</p>

<%= high_chart("graph", @chart) %>
<%#= high_chart("some_other_id", @chart1) %>

