<% if @metadata.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metadata.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @metadata.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
<!--   <strong><%#= @constructed_station.inspect %></strong>
  <br>
  <strong><%#= @path_build %></strong>
  <br>
  <strong><%#= @path_build.valid? %></strong>
  <br> -->
  <%= "Station id:#{@metadata.station_id}" %>
  <%= "Lat #{@metadata.latitude }"%>
  <%= "Long #{@metadata.longitude }"%>
</p>


<%= high_chart("some_id", @chart) %>
<%= high_chart("some_other_id", @chart1) %>

<%= link_to 'Back', stations_path %>
