<!DOCTYPE html>
<html>
  <head>
    <title>Stranger Tides</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="NOAA NOS National Ocean Observing System Operational Oceanograpic Products Center for Operational Oceanographic Products and Services Active Stations  Ruby on Rails Demo Interactive Map  Water Levels Station Selection  JoseWorks Technologies LLC www.joseworks.org  " name="description">
    <%= include_gon if defined?(Gon) %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
