<!DOCTYPE html>
<html>
<head>
  <title>RubyTides</title>
   <meta name="author" content="http://www.joseworks.org/">
    <link rel="author" href="http://www.joseworks.org/"/>

    <title>Ruby Tide</title>
    <meta content="NOAA NOS National Ocean Observing System Operational Oceanograpic Products Center for Operational Oceanographic Products and Services Active Stations  Ruby on Rails Demo Interactive Map  Water Levels Station Selection  JoseWorks Technologies LLC www.joseworks.org  " name="description">
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
